<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Node View Test</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    {{>header}}

    <div style="min-height: 400px">
      <pre style="font-weight: 700">
        |----    ----|  ||-----------|         |------|         |-\\       ||
        ||  \\  //  ||  ||-----------|        //------\\        || \\      ||
        ||   \\//   ||  ||                   //        \\       ||  \\     ||
        ||    --    ||  ||-----|            //          \\      ||   \\    || 
        ||          ||  ||-----|           //------------\\     ||    \\   ||
        ||          ||  ||                //--------------\\    ||     \\  ||
        ||          ||  ||-----------    //                \\   ||      \\ ||
        ||          ||  ||-----------|  //                  \\  ||       \\-|
      </pre>
    </div>

    {{>footer}}
  </body>
</html>